<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<!-- ............................... Mapa ................................................. -->
	<link rel="stylesheet" th:href="@{/css/leaflet.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/leaflet.awesome-markers.css}">
	<link rel="stylesheet" th:href="@{/css/leaflet.awesome.rotate.min.css}">
	<!-- ................................................................................ -->

	
	
	<title>WEIMONT APP</title>
</head>


<body>
	<!-- Barra de navegación -->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#"> <strong>LIBRERIA FIORELLA</strong>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- ENLACES DEL MENU -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" th:href="@{/home}">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/vender/}">Vender</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/productos/mostrar}">Productos</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/ventas/mostrar}">Ventas</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- Contenido -->
	<div class="container"></div>
	<!-- Pie de pagina -->
	<footer th:fragment="footer"
		class="bg-dark text-center text-white fixed-bottom p-1">
		<div class="container">
			<p>Copyright Pierre Montes &copy;2020</p>
		</div>
		<!-- ............................. Mapa ................................................... -->
		<script type="text/javascript" th:src="@{/js/leaflet.js}"></script> <!-- OK -->
		<script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"></script> <!-- OK -->
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/leaflet.awesome-markers.js}"></script>
		<script type="text/javascript" th:src="@{/js/leaflet-ant-path.min.js}"></script>
		<!-- ............................... Original ................................................. -->
		<script type="text/javascript" th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<!-- .............................. Mapa nuevo .................................................. -->
		
		<script type="text/javascript" th:src="@{/js/pruebaMapa.min.js}"></script>
		
		
		
		
	</footer>
</body>

</html>