<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="plantilla/plantilla :: header"> </header>

	<div class="container">
		<h1 th:text="${titulo}"></h1>

		<p>Libreria Fiorella</p>
		<!-- ............................. Mapa ................................................... -->
		<div class="folium-map" id="map_f50e8b46c0634f0d8f0aed6bb6c543d0" ></div>
		<!-- ............................. Mapa ................................................... -->
		

	</div>

	<footer th:replace="plantilla/plantilla :: footer"> </footer>


</body>
</html>